Repository rust-lang/rustc-dev-guide, pull requests merged in 2024-11, with the labels that each got.

#2112 Fix rustc-related links that are 404 right now
  src/appendix/code-index.md
  src/hir.md
  src/identifiers.md
  src/mir/optimizations.md
  src/mir/passes.md
  src/opaque-types-impl-trait-inference.md
  src/rustdoc-internals.md
  src/thir.md
  src/ty.md
Labels: waiting-on-review

#2118 Describe how to revert a PR
  src/contributing.md
Labels: S-waiting-on-review

#2092 Add redirects for integration-testing and headers
  book.toml
Labels: S-waiting-on-review

#2097 Describe `minicore` test auxiliary and directive
  src/SUMMARY.md
  src/tests/compiletest.md
  src/tests/directives.md
  src/tests/minicore.md
  src/tests/ui.md
Labels: S-waiting-on-review

#2096 Add a link for the `reference` compiletest header
  src/tests/directives.md
Labels: S-waiting-on-author, A-compiletest, A-test-suite, T-compiler, T-bootstrap, T-spec

#2093 Ask folks to use the Oxford comma in diagnostics
  src/diagnostics.md
Labels: S-waiting-on-review, A-diagnostics, T-compiler, A-style, WG-diagnostics

#2111 update const stability docs
  src/stability.md
Labels: T-compiler, WG-const-eval, A-stability

#2101 Rename `{ignore,only}-debug` -> `{ignore,needs}-{rustc,std}-debug-assertions`
  src/tests/directives.md
Labels: S-waiting-on-review, A-compiletest, T-bootstrap

#1926 Update parallel-rustc.md
  src/parallel-rustc.md
Labels: S-waiting-on-review, T-compiler, WG-parallel-rustc

#2135 Document `exact-llvm-major-version` directive
  src/tests/directives.md
Labels: A-compiletest, A-test-suite, T-compiler, T-bootstrap

#2129 Document `max-llvm-major-version` directive
  src/tests/directives.md
Labels: A-compiletest, A-test-suite, T-compiler, T-bootstrap

#2136 Mention `RUSTC_BOOTSTRAP` for misc testing
  src/SUMMARY.md
  src/tests/intro.md
  src/tests/misc.md
Labels: A-diagnostics, A-test-suite, T-compiler

#2138 update for rustc_intrinsic_const_stable_indirect
  src/stability.md
Labels: S-blocked, T-compiler, A-stability, A-attributes

#2142 Reorganize the "Source Code Representation" chapters
  src/SUMMARY.md
  src/asm.md
  src/closure.md
  src/hir.md
  src/identifiers.md
  src/the-parser.md
Labels: C-cleanup, WG-rustc-dev-guide

#2032 Remove -Zfuel.
  src/mir/optimizations.md
Labels: C-cleanup, T-compiler, A-optimizations

#2147 Remove `pretty-expanded` as it no longer exists
  src/tests/compiletest.md
Labels: A-compiletest, A-test-suite, -Zunpretty

#2149 Update `//@ proc-macro` aux build directive docs
  src/tests/compiletest.md
  src/tests/directives.md
Labels: S-waiting-on-review, A-compiletest, A-test-suite, T-compiler, T-bootstrap
