Repository rust-lang/rustc-dev-guide, pull requests merged in 2024-12, with the labels that each got.

#2153 Spell out `git submodule deinit -f --all`
  src/git.md
Labels: A-git

#2154 Document `needs-target-has-atomic` directive
  src/tests/directives.md
Labels: A-compiletest, A-test-suite, T-compiler, T-bootstrap

#2151 Remove `//@ compare-output-lines-by-subset` directive
  src/tests/directives.md
  src/tests/ui.md
Labels: A-compiletest, A-test-suite, T-compiler, T-bootstrap

#2164 Add suggestion for `--keep-stage 0`
  src/building/suggested.md
Labels: A-contributor-onboarding, T-bootstrap, T-libs

#2170 compiletest: Document the `--debugger` flag
  src/tests/compiletest.md
Labels: S-blocked, A-compiletest, A-test-suite, T-bootstrap, A-debuginfo, A-debuggers

#2169 region-outlives propagation
  src/borrow_check/region_inference/closure_constraints.md
Labels: S-waiting-on-review, T-compiler, A-borrow-checker

#2171 Document `forbid-output` for UI tests
  src/tests/directives.md
Labels: S-waiting-on-review, A-compiletest, A-test-suite, T-compiler, T-bootstrap

#2162 Rework the driver docs
  examples/rustc-driver-example.rs
  examples/rustc-driver-interacting-with-the-ast.rs
  examples/rustc-interface-example.rs
  examples/rustc-interface-getting-diagnostics.rs
  src/rustc-driver/getting-diagnostics.md
  src/rustc-driver/interacting-with-the-ast.md
  src/rustc-driver/intro.md
Labels: S-waiting-on-author, A-driver, T-compiler, A-custom-driver

#2172 Remove the `-test` suffix from normalize directives
  src/tests/directives.md
  src/tests/ui.md
Labels: S-waiting-on-review, A-compiletest, A-test-suite, T-bootstrap

#2174 Document `x test --no-capture`
  src/tests/compiletest.md
Labels: S-waiting-on-review, A-compiletest, T-bootstrap

#2103 Start using mdbook-linkcheck2
  .github/workflows/ci.yml
  README.md
  ci/linkcheck.sh
Labels: S-waiting-on-review, C-CI, A-linkcheck, WG-rustc-dev-guide

#2176 Fix 403 received for HEAD request
  src/appendix/bibliography.md
Labels: S-waiting-on-review, A-CI, A-linkcheck, WG-rustc-dev-guide

#2177 Add missing link for [Node]
  src/hir.md
Labels: A-HIR, T-compiler, A-linkcheck

#2120 Add a couple of linkcheck exceptions:
  book.toml
Labels: S-waiting-on-review, C-CI, A-linkcheck, WG-rustc-dev-guide

#2023 Remove properly tracked config file from .gitignore & add support for skipping of link-checking
  .gitignore
  README.md
  ci/linkcheck.sh
Labels: S-waiting-on-author, A-meta, C-CI, A-linkcheck, WG-rustc-dev-guide

#2180 Opt into, rather than out of, linkcheck
  .github/workflows/ci.yml
  README.md
  ci/linkcheck.sh
Labels: A-linkcheck
